<div data-view="Moobile.ScrollView" class="component-button-bar-dark-view">

	<div data-role="navigation-bar" data-style="dark">
		<div data-role="button" data-name="back-button" data-style="back">Back</div>
		<div data-role="title">
			<div data-role="button-group">
				<div data-role="button">Item 1</div>
				<div data-role="button">Item 1</div>
				<div data-role="button">Item 1</div>
			</div>
		</div>
		<div data-role="button">Button</div>
	</div>

	<div data-role="content">

	</div>

</div>